html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing:inherit; }

body {
  width:100%; height:100vh;
  margin:0; padding:0;
  overflow:hidden;
}
.pointer {
  cursor: pointer;
}

$headerHeight: 55px;
$sidebarWidth: 16vw;
$playlistWidth: 25vw;

.sidebar {
  position: fixed;
  width:  $sidebarWidth;
  left: 0;
  top: $headerHeight;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  border-right:  1px solid #000;
}

.library-panel {
  display:block;
  position: fixed;
  z-index:100;
  order: 1;
  top:$headerHeight; 
  bottom:0;
  margin-left: $sidebarWidth; 
  right:0;
  left:0;
  overflow:hidden;
  &.active {
    margin-left: calc(#{$sidebarWidth} + #{$playlistWidth});
  }
  .panel-header {
    display:fixed;
    margin-left: 0;
    top: 0;
  }
}
.playlist-panel {
  position: fixed;
  display:none;
  overflow-y: scroll;
  overflow-x: hidden;
  background:  rgba(0,0,0,0.2);
  top: $headerHeight;
  bottom: 0;
  width:0;
  left:0; 
  padding: 1em;
  border-right:  1px solid #000;
  xtransition: all 0.5s;
  &.active {
    display:block;
    width:  $playlistWidth;
    left: $sidebarWidth;
  }
}

.droppable.active-drop {
  background: rgba(0,0,0,0.7) !important;
  border: 1px dashed red !important;

}