
html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:  100%;
  height:  100%;
}

body {
  padding-top:55px;
  min-width:  900px;
  
}
#header {
  height: 55px;
  max-height:55px;
}

#filter-bar {
  top: 55px; left: 0; right:0;
  padding: 5px;
  background: black;
  height: 50px;
  max-height:50px;
}

.draggable {
  touch-action: none;
  user-select: none;
}
@media (min-width: 1200px) { 
  .panel-right { }
}


.workarea {
  padding-top: 2em;
  text-align:left;
  padding-left: 2em;
  padding-right: 1em;
  min-height: 100%;
}

.panel-left {
  padding:0; margin:0;
  background: #485058;
}
.panel-right {
  padding:0; margin:0;
  display:block;
  position:fixed;
  right:0;
  top:55px;
  bottom:0;
  overflow-y: scroll;
  background: rgba(255,0,255,0.1);

  .filterbar-right {
    padding: 5px;
    height: 50px;
    background: #222;
  }
  .workarea-right {
    padding-top: 2em;
    padding: 1em;
  }

}


.playlist-drop {
  border: 1px solid #ddd;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100px;
  text-align:center;
  margin-bottom: 1em;
  padding: 10px;
  &.active-drop {
    border: 1px solid red;
  }
  &.dropped {
    background: orange;
  }
}
