html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:  100%;
  height:  100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing:inherit; }

body {
  padding-top:55px;
  min-width: 900px;
  background: #343a40;
  overflow-y: hidden;
  overflow-x:hidden;
  overscroll-behavior: none;
}

@media (min-width: 1200px) {}
